body{ 
    padding: 0;
    margin: 0;
    height: 200vh;
    
}

.title{
    font-family: 'Raleway', sans-serif;   
    margin: auto;
    font-size: 5vw;
}

header{
    background-color: rgb(17, 215, 53);
    height: 20vh;
    padding: 0;
    display: flex;
}
nav{
    display: flex;
    background-color: rgb(17, 215, 53);
    padding: 10px;
}

a{
    margin: auto;
}



button{
    transition: 1s;
    border: none;
    border-radius: 25px;
    color: black;
    background-color:rgb(0, 145, 0);
    width: 10vw;
    height: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

button:hover{
    transition: 1s;
    width: 15vw;
    height: 5vh;
    color: rgb(245, 146, 40);
    font-size:  23px;

}